<c-card class="shadow-md rounded-lg mb-6 relative z-[50]">
    <c-card-header class="flex flex-wrap items-center justify-between gap-4">
        <span class="text-gray-400">Vehicles Enquiry</span>
        <div class="flex flex-wrap items-center gap-3">
            <input [(ngModel)]="searchTerm"
                class="w-full sm:w-64 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Search enquiries..." />
            <span class="text-gray-500 text-sm whitespace-nowrap">Filter by :-</span>
            <c-dropdown class="m-0 z-[50]" placement="bottom-start" variant="btn-group">
                <button style="color: black; background-color: white;" cButton>
                    {{ filterStatus || 'All' }}
                </button>
                <button style="color: black; background-color: white;" cButton cDropdownToggle split>
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul cDropdownMenu class="z-[9999] bg-white border border-gray-300 shadow rounded text-sm">
                    <li>
                        <button style="color: black;background-color: white;" cDropdownItem
                            (click)="filterStatus = ''">All</button>
                    </li>
                    <li>
                        <button style="color: black;background-color: white;" cDropdownItem
                            (click)="filterStatus = 'New'">New</button>
                    </li>
                    <li>
                        <button style="color: black;background-color: white;" cDropdownItem
                            (click)="filterStatus = 'In Progress'">In Progress</button>
                    </li>
                    <li>
                        <button style="color: black;background-color: white;" cDropdownItem
                            (click)="filterStatus = 'Closed'">Closed</button>
                    </li>
                </ul>
            </c-dropdown>

        </div>
    </c-card-header>
    <c-card-body class="p-0">
        <!-- Desktop Table -->
        <div class="hidden sm:block overflow-visible relative p-2">
            <table class="min-w-full text-sm text-left border shadow-md rounded-lg relative z-[10]">
                <thead>
                    <tr>
                        <th class="px-4 py-2 border">S.No.</th>
                        <th class="px-4 py-2 border">Name</th>
                        <th class="px-4 py-2 border">Email</th>
                        <th class="px-4 py-2 border">Phone</th>
                        <th class="px-4 py-2 border">Status</th>
                        <th class="px-4 py-2 border text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enquiry of filteredEnquiries; let i = index">
                        <td class="px-4 py-2 border">{{ i + 1 }}</td>
                        <td class="px-4 py-2 border">{{ enquiry.name }}</td>
                        <td class="px-4 py-2 border">{{ enquiry.email }}</td>
                        <td class="px-4 py-2 border">{{ enquiry.phone_number }}</td>
                        <td class="px-4 py-2 border">
                            {{ enquiry.status }}
                        </td>
                        <td class="px-4 py-2 text-center border flex justify-center gap-3">
                            <!-- View Button -->
                            <button (click)="viewDetails(enquiry)" title="View" class="text-green-600 p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                                </svg>
                            </button>
                            <!-- Edit Button -->
                            <button title="Edit" (click)="editDetails(enquiry)" class="text-blue-600 p-1">
                                <c-icon name="cil-pencil" class="w-5 h-5"></c-icon>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Mobile View -->
        <div class="sm:hidden flex flex-col gap-4 p-2">
            <div *ngFor="let enquiry of filteredEnquiries; let i = index" class="border p-4 rounded-lg shadow bg-white">
                <div class="flex justify-between mb-2 font-semibold text-gray-800">
                    <span>#{{ i + 1 }}. {{ enquiry.name }}</span>
                </div>
                <div class="flex justify-between mb-1 text-sm text-gray-600">
                    <span>Email</span>
                    <span>{{ enquiry.email }}</span>
                </div>
                <div class="flex justify-between mb-1 text-sm text-gray-600">
                    <span>Phone</span>
                    <span>{{ enquiry.phone_number }}</span>
                </div>
                <div class="mt-3 text-center flex justify-between gap-3">
                    <span>Action</span>
                    <div>
                        <button (click)="viewDetails(enquiry)" title="View" class="text-green-600 p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                            </svg>
                        </button>
                        <button title="Edit" class="text-blue-600 p-1">
                            <c-icon name="cil-pencil" class="w-5 h-5"></c-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
            (pageChange)="onPageChange($event)"></app-pagination>
    </c-card-body>
</c-card>


<!-- View Vehicle Enquiry Details -->
<div *ngIf="showViewModal"
    class="fixed inset-0 bg-opacity-30 backdrop-blur-sm z-[9999] flex items-center justify-center p-4">
    <div class="bg-white w-full max-w-2xl rounded-lg shadow-xl p-6 space-y-6 overflow-y-auto max-h-[90vh]">
        <span class="font-semibold text-gray-400 mb-4 pb-4">Vehicle Enquiry Details</span>

        <div *ngIf="selectedEnquiry" class="overflow-x-auto">
            <table class="w-full border border-gray-300 text-sm sm:text-base border-collapse">
                <tbody>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300 w-1/2">Name</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.name }}</td>
                    </tr>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Email</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.email }}</td>
                    </tr>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Phone</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.phone_number }}</td>
                    </tr>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Company</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.company }}</td>
                    </tr>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">City</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.city }}</td>
                    </tr>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Category</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.category }}</td>
                    </tr>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Brand</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.brand }}</td>
                    </tr>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Vehicle details</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.vehicle_details }}</td>
                    </tr>
                    <tr>
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Buy/Sell/Rent</td>
                        <td class="p-3 text-gray-800 border border-gray-300">{{ selectedEnquiry.buy_sell_rent }}</td>
                    </tr>
                    <tr class="align-top">
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Enquiry type</td>
                        <td class="p-3 text-gray-800 border border-gray-300 whitespace-pre-wrap break-words max-w-sm">
                            {{ selectedEnquiry.enquiry_type }}
                        </td>
                    </tr>
                    <tr class="align-top">
                        <td class="p-3 font-medium text-gray-600 border border-gray-300">Message</td>
                        <td class="p-3 text-gray-800 border border-gray-300 whitespace-pre-wrap break-words max-w-sm">
                            {{ selectedEnquiry.message }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-end mt-6">
            <button (click)="closeViewModal()"
                class="px-4 py-2 text-sm font-medium bg-red-500 text-white rounded hover:bg-red-600 transition-all">
                Close
            </button>
        </div>
    </div>
</div>



<!-- EDIT MODAL -->
<div *ngIf="editEnquiry"
    class="   fixed inset-0 z-[9999] flex items-center justify-center p-4  bg-opacity-30 backdrop-blur-sm">
    <div class="bg-white text-black w-full max-w-4xl rounded-lg shadow-lg p-6 relative overflow-y-auto max-h-[90vh]">
        <span class="text-2xl text-gray-400">Lead Management</span>
        <div class="flex border-b mb-4 mt-3">
            <div *ngFor="let tab of ['general', 'loan', 'delivery', 'delivered']"
                class="cursor-pointer px-4 py-2 border border-b-0" [class.bg-white]="activeTab === tab"
                [class.font-bold]="activeTab === tab" [class.bg-gray-100]="activeTab !== tab" (click)="setTab(tab)">
                {{ tab | titlecase }} {{ tab === 'loan' ? 'Process' : tab === 'delivery' ? 'Process' : '' }}
            </div>
        </div>
        <!-- GENERAL TAB -->
        <div *ngIf="activeTab === 'general'">
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-1">Customer Name</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="editEnquiry.name"
                    placeholder="Enter customer name" />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-1">Contact Number</label>
                <input type="tel" class="w-full p-2 border border-gray-300 rounded"
                    [(ngModel)]="editEnquiry.phone_number" placeholder="Enter contact number" />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-1">Inquiry Type</label>
                <div class="w-full p-2 border rounded bg-white">
                    {{ editEnquiry.enquiry_type }}
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-1">Status</label>
                <c-dropdown placement="bottom-end" class="w-full" variant="btn-group">
                    <button cButton style="display: flex;"
                        class="w-full text-left text-xs text-black bg-white border border-gray-300 rounded-l-md">
                        {{ editEnquiry.status }}
                    </button>
                    <button cButton cDropdownToggle split
                        class="text-xs py-2 px-2 border border-gray-300 text-black bg-white rounded-r-md border-l-0">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul cDropdownMenu class="z-[9999] border shadow rounded text-xs">
                        <li><button cDropdownItem class="text-black bg-white"
                                (click)="changeStatus(editEnquiry, 'New')">New</button></li>
                        <li><button cDropdownItem class="text-black bg-white"
                                (click)="changeStatus(editEnquiry, 'In Progress')">In Progress</button>
                        </li>
                        <li><button cDropdownItem class="text-black bg-white"
                                (click)="changeStatus(editEnquiry, 'Closed')">Closed</button></li>
                    </ul>
                </c-dropdown>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-1">Vehicle Details</label>
                <textarea rows="3" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="editEnquiry.message"
                    placeholder="Enter vehicle details"></textarea>
            </div>
            <div class="flex justify-between">
                <button (click)="saveEnquiry()" class="bg-[#5856d6] text-white px-4 py-2 rounded hover:bg-[#5856d6e3]">
                    Save
                </button>
                <button
                    class="px-4 py-2 text-sm font-medium bg-red-500 text-white rounded hover:bg-red-600 transition-all"
                    (click)="closeEditModal()">
                    Close
                </button>
            </div>
        </div>
        <div *ngIf="activeTab === 'loan' && editEnquiry">
            <div class="mb-4">
                <label class="block font-bold mb-1">Loan Required</label>
                <select class="w-full p-2 border rounded" [(ngModel)]="editEnquiry.loan">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block font-bold mb-1">Preferred Bank</label>
                <input class="w-full p-2 border rounded" placeholder="Enter bank name"
                    [(ngModel)]="editEnquiry.bank_name" />
            </div>
            <div class="mb-4">
                <label class="block font-bold mb-1">Loan Status</label>
                <select class="w-full p-2 border rounded" [(ngModel)]="editEnquiry.loan_status">
                    <option value="initiated">Initiated</option>
                    <option value="approved">Approved</option>
                    <option value="rejected">Rejected</option>
                </select>
            </div>
            <div class="flex justify-between">
                <button (click)="saveEnquiry()"
                    class="bg-[#5856d6] text-white px-4 py-2 rounded hover:bg-[#5856d6e3]">Save
                    Loan
                    Info</button>
                <button
                    class="px-4 py-2 text-sm font-medium bg-red-500 text-white rounded hover:bg-red-600 transition-all"
                    (click)="closeEditModal()">
                    Close
                </button>
            </div>
        </div>
        <div *ngIf="activeTab === 'delivery' && editEnquiry">
            <div class="mb-4">
                <label class="block font-bold mb-1">Expected Delivery Date</label>
                <input class="w-full p-2 border rounded" type="date" [(ngModel)]="editEnquiry.expected_delivery_date" />
            </div>
            <div class="mb-4">
                <label class="block font-bold mb-1">Delivery Status</label>
                <select class="w-full p-2 border rounded" [(ngModel)]="editEnquiry.delivery_status">
                    <option value="pending">Pending</option>
                    <option value="in transit">In Transit</option>
                    <option value="ready for delivery">Ready for Delivery</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block font-bold mb-1">Delivery Location</label>
                <input class="w-full p-2 border rounded" [(ngModel)]="editEnquiry.delivery_location" />
            </div>
            <div class="flex justify-between">
                <button (click)="saveEnquiry()"
                    class="bg-[#5856d6] text-white px-4 py-2 rounded hover:bg-[#5856d6e3]">Save
                    Delivery Info</button>
                <button
                    class="px-4 py-2 text-sm font-medium bg-red-500 text-white rounded hover:bg-red-600 transition-all"
                    (click)="closeEditModal()">
                    Close
                </button>
            </div>
        </div>
        <div *ngIf="activeTab === 'delivered' && editEnquiry">
            <div class="mb-4">
                <label class="block font-bold mb-1">Delivered Date</label>
                <input class="w-full p-2 border rounded" type="date" [(ngModel)]="editEnquiry.delivered_date" />
            </div>
            <div class="mb-4">
                <label class="block font-bold mb-1">Customer Feedback</label>
                <textarea class="w-full p-2 border rounded" rows="3"
                    [(ngModel)]="editEnquiry.customer_feedback"></textarea>
            </div>
            <div class="mb-4">
                <label class="block font-bold mb-1">Delivery Proof</label>
                <input type="file" (change)="onFileSelected($event)" class="w-full p-2 border rounded mb-2" />

                <img *ngIf="editEnquiry?.delivery_proof" [src]="editEnquiry.delivery_proof?.startsWith('data')
    ? editEnquiry.delivery_proof
    : 'http://localhost:5000/uploads/' + editEnquiry.delivery_proof" alt="Delivery Proof"
                    (click)="openPreview(editEnquiry.delivery_proof)"
                    class="object-cover rounded w-32 h-20 border cursor-pointer hover:opacity-80" />
            </div>
            <div class="flex justify-between">
                <button (click)="saveEnquiry()"
                    class="bg-[#5856d6] text-white px-4 py-2 rounded hover:bg-[#5856d6e3]">Save
                    Delivery Record</button>
                <button
                    class="px-4 py-2 text-sm font-medium bg-red-500 text-white rounded hover:bg-red-600 transition-all"
                    (click)="closeEditModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fullscreen Image Preview Modal -->
<div *ngIf="previewImage" class="fixed inset-0 z-[9999] flex items-center justify-center bg-black bg-opacity-80">
    <div class="relative w-full h-full flex flex-col items-center justify-center">
        <button (click)="closePreview()"
            class="absolute top-4 right-4 text-white text-3xl font-bold hover:text-red-500 z-50">
            ✖
        </button>
        <img [src]="previewImage" alt="Full Delivery Proof"
            class="max-h-full max-w-full object-contain rounded shadow-lg" />
        <div class="absolute bottom-6">
            <a [href]="previewImage" download target="_blank"
                class="bg-[#5856d6] text-white px-6 py-2 rounded hover:bg-[#5856d6e3] shadow-lg">
                Download
            </a>
        </div>
    </div>
</div>