<!-- Filter Sidebar -->
<div class="w-full md:w-75 rounded-lg shadow p-4 flex flex-col self-start" style="
    background:
        linear-gradient(to bottom, #fcb026 0%, #fee1a1 50%),
        linear-gradient(to bottom, #fee1a1 50%, #fff5d6 100%);
    ">

    <!-- Brand -->
    <label class="block mb-3">
        <span class="text-sm text-gray-700">Brand</span>
        <select class="mt-1 block w-full rounded border border-black p-2" [(ngModel)]="selectedBrand">
            <option value="">Select Brand</option>
            <option *ngFor="let brand of brands" [value]="brand.name">
                {{ brand.name }} ({{ brand.count }})
            </option>
        </select>
    </label>

    <!-- Category -->
    <label class="block mb-3">
        <span class="text-sm text-gray-700">Category</span>
        <select class="mt-1 block w-full rounded border border-black p-2" [(ngModel)]="selectedCategoryName">
            <option value="">All</option>
            <option *ngFor="let cat of categories" [value]="cat.name">
                {{ cat.name }} ({{ cat.count }})
            </option>
        </select>
    </label>

    <div class="relative w-full mb-3">
        <p class="text-sm text-gray-700">Category</p>
        <input type="range" [(ngModel)]="minValue" [min]="priceRange.minOriginal || 500000"
            [max]="priceRange.maxOriginal || 10000000" step="50000"
            class="absolute w-full pointer-events-none appearance-none"
            [style.zIndex]="minValue > maxValue - 50000 ? 5 : 3" />

        <input type="range" [(ngModel)]="maxValue" [min]="priceRange.minOriginal || 500000"
            [max]="priceRange.maxOriginal || 10000000" step="50000" class="absolute w-full" />

        <div class="mt-12 flex justify-between text-sm text-gray-700">
            <span>Min: ₹{{ minValue | number }}</span>
            <span>Max: ₹{{ maxValue | number }}</span>
        </div>
    </div>

    <!-- Year of Manufacture -->
    <label class="block mb-3">
        <span class="text-sm text-gray-700">Year of manufacture</span>
        <select class="mt-1 block w-full rounded border border-black p-2">
            <option value="">Select Year</option>
        </select>
    </label>

    <!-- Apply Filter Button -->
    <button (click)="applyFilter()" class="w-full bg-black hover:bg-red-800 text-[#fcb026] font-[600] py-2 rounded">
        Apply Filters
    </button>
</div>