<app-widgets-dropdown />
<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Traffic</h4>
        <div class="small text-body-secondary">January - December {{currentYear }}</div>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
      (chartRef)="handleChartRef($event)"
    >
      Main chart
    </c-chart>
  </c-card-body>
</c-card>

