<!-- transport-vehicle.component.html -->
<c-card class="shadow-md rounded-lg mb-6">
    <c-card-header class="flex items-center justify-between flex-wrap gap-2">
        <span class="text-gray-400">Vehicle Transport List</span>
        <div class="gap-3 flex">
            <input
                class="w-full sm:w-64 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Search transport vehicle..." />
        </div>
    </c-card-header>
    <c-card-body>
        <div class="overflow-x-auto hidden sm:block p-2">
            <table class="min-w-full text-sm text-left border shadow-md rounded-lg">
                <thead>
                    <tr>
                        <th class="px-4 py-2 border">S.No.</th>
                        <th class="px-4 py-2 border">Name</th>
                        <th class="px-4 py-2 border">Pickup location</th>
                        <th class="px-4 py-2 border">Drop location</th>
                        <th class="px-4 py-2 border">Shifting date</th>
                        <th class="px-4 py-2 border">Vehicle detail</th>
                        <th class="px-4 py-2 border">Phone No.</th>
                        <th class="px-4 py-2 border">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let category of paginatedTransportVehicle | slice:(currentPage - 1) * itemsPerPage:(currentPage * itemsPerPage); let i = index">
                        <td class="px-4 py-2 border">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                        <td class="px-4 py-2 border">{{ category.name }}</td>
                        <td class="px-4 py-2 border">{{ category.pickup_location }}</td>
                        <td class="px-4 py-2 border">{{ category.drop_location }}</td>
                        <td class="px-4 py-2 border">{{ category.shifting_date | date: 'dd-MM-yyyy' }}</td>
                        <td class="px-4 py-2 border">{{ category.vehicle_detail}}</td>
                        <td class="px-4 py-2 border">{{ category.phone_number }}</td>
                        <td class="px-4 py-2 border">
                            <select class="w-full border rounded px-3 py-2 text-sm" [value]="category.status"
                                (change)="onStatusChange($event, category._id!)">
                                <option [value]="'Pending'" class="text-black">Pending</option>
                                <option [value]="'In Transit'" class="text-black">In Transit</option>
                                <option [value]="'Completed'" class="text-black">Completed</option>
                                <option [value]="'Cancelled'" class="text-black">Cancelled</option>
                            </select>


                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

        <div class="sm:hidden flex flex-col space-y-4 p-2">
            <c-card class="shadow-sm rounded-lg"
                *ngFor="let category of paginatedTransportVehicle | slice:(currentPage - 1) * itemsPerPage:(currentPage * itemsPerPage); let i = index">
                <c-card-body class="p-4">
                    <div class="flex justify-between mb-2">
                        <span class="font-semibold">S.No.</span>
                        <span>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span class="font-semibold">Name</span>
                        <span>{{ category.name }}</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span class="font-semibold">Pickup location</span>
                        <span>{{ category.pickup_location }}</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span class="font-semibold">Drop location</span>
                        <span>{{ category.drop_location }}</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span class="font-semibold">Shifting date</span>
                        <span>{{ category.shifting_date | date: 'dd-MM-yyyy' }}</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span class="font-semibold">Vehicle detail</span>
                        <span>{{ category.vehicle_detail }}</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span class="font-semibold">Phone no.</span>
                        <span>{{ category.phone_number }}</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <label class="font-semibold block mb-1">Status</label>
                        <select class="max-w-fit border rounded px-3 py-2 text-sm" [value]="category.status"
                            (change)="onStatusChange($event, category._id!)">
                            <option [value]="'Pending'" class="text-black">Pending</option>
                            <option [value]="'In Transit'" class="text-black">In Transit</option>
                            <option [value]="'Completed'" class="text-black">Completed</option>
                            <option [value]="'Cancelled'" class="text-black">Cancelled</option>
                        </select>
                    </div>

                </c-card-body>
            </c-card>
        </div>
        <!-- Pagination Controls -->
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
        </app-pagination>

    </c-card-body>
</c-card>