<div class="fixed inset-0 z-[50] flex justify-center items-center bg-black bg-opacity-50 p-2">
    <div class="bg-white p-4 rounded-xl w-full max-w-6xl shadow-lg">
        <p class="text-2xl sm:text-3xl md:text-4xl font-bold text-center text-black mb-8">
            Used Construction Equipment For Sale & Rent
        </p>

        <!-- Responsive Grid -->
        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-4 text-center text-sm text-black">
            <a *ngFor="let category of categories" [routerLink]="['/vehicles-listing']"
                [queryParams]="{ category_name: (category.category_name || '').trim() }" (click)="closeModal()"
                class="flex flex-col items-center cursor-pointer text-black" style="text-decoration: none;">

                <img [src]="getCategoryImageUrl(category.category_image)" [alt]="category.category_name"
                    class="w-[50%] h-full object-contain" />

                <span class="font-semibold">{{ category.category_name }}</span>
            </a>
        </div>

        <div class="text-right mt-2">
            <button class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition" (click)="closeModal()">
                Close
            </button>
        </div>
    </div>
</div>