<div class="fixed inset-0 z-[50] flex justify-center items-center bg-black bg-opacity-50 p-2">
    <div class="bg-white p-6 rounded-xl w-full max-w-6xl shadow-lg">
        <p class="text-4xl font-bold text-center text-black mb-8">Used Construction Equipment For Sale & Rent</p>

        <div class="grid grid-cols-4 md:grid-cols-6 gap-6 text-center text-sm text-black">
            <div class="flex flex-col items-center">
                <img src="assets/images/search-1.webp" alt="Skid Steers" class="w-full h-full" />
                <span>Skid Steers</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/search-2.webp" alt="Mini Excavators" class="w-full h-full" />
                <span>Mini Excavators</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/search-6.webp" alt="Excavators" class="w-full h-full" />
                <span>Excavators</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/search-5.webp" alt="Forklifts" class="w-full h-full" />
                <span>Forklifts</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/search-4.webp" alt="Lifts" class="w-full h-full" />
                <span>Lifts</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/search-3.webp" alt="Dozers" class="w-full h-full" />
                <span>Dozers</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/off-highway.webp" alt="Dozers" class="w-full h-full" />
                <span>Off Highway Trucks</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/motor-graders.webp" alt="Dozers" class="w-full h-full" />
                <span>Motor Graders</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/drills.webp" alt="Dozers" class="w-full h-full" />
                <span>Drills</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/forestry-equipment.webp" alt="Dozers" class="w-full h-full" />
                <span>Forestry Equipments</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/wheel_loaders.webp" alt="Dozers" class="w-full h-full" />
                <span>Wheel Loader</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/loader-backhoes.webp" alt="Dozers" class="w-full h-full" />
                <span>Loader Backhoes</span>
            </div>
            <div class="flex flex-col items-center">
                <img src="assets/images/cranes.webp" alt="Dozers" class="w-full h-full" />
                <span>Cranes</span>
            </div>

        </div>
        <div class="text-right mt-2">
            <button class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition"
                (click)="closeModal()">
                Close
            </button>
        </div>
    </div>