:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

// @keyframes slideIn {
//   0% {
//     opacity: 0;
//     transform: translateX(-40px);
//   }

//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

// .animate-slide-in {
//   animation: slideIn 0.5s ease-out;
// }


// @keyframes fadeSlide {
//   0% {
//     opacity: 0;
//     transform: translateX(50px);
//   }

//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

// .animate-fade-slide {
//   animation: fadeSlide 0.6s ease-in-out;
// }




.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}


.no-scrollbar {
  display: flex;
  justify-content: center; /* Start from center */
}

.no-scrollbar:has(.flex-none:nth-child(2)) {
  justify-content: flex-start; /* When more than one, go back to normal */
}